
.sliderDirection{
    margin:20px 10px 10px 10px;
    position:relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; 
}

.image{
    width:1000px;
    height:600px;
    border-radius:10px;
}

.rightSelect{
    position:absolute;
    height:auto;
    width:10%;
    /* top:50%; */
    right:32px;
    font-size: 3rem;
    color: #000;
    z-index:10;
    cursor:pointer;
    user-select:none;
}

.leftSelect{
    position:absolute;
    height:auto;
    width:10%;
    /* top:50%; */
    left:32px;
    font-size: 3rem;
    color: #000;
    z-index:10;
    cursor:pointer;
    user-select:none;
}

/* .leftArrow:hover{
    background-color: #d3d3d3fd;
    border:solid 0.3rem #161616ee;
} */


.pauseArrow{
    position:absolute;
    top:100%;
    left:45%;
    font-size: 3rem;
    color: #000;
    z-index:10;
    cursor:pointer;
    user-select:none;
}

.resumeArrow{
    position:absolute;
    top:100%;
    left:55%;
    font-size: 3rem;
    color: #000;
    z-index:10;
    cursor:pointer;
    user-select:none;
}

.slide{
    opacity:0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}